name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Minikube
        run: |
          curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64 \
            && chmod +x minikube \
            &&  mv minikube /usr/local/bin/

      - name: Start Minikube
        run: |
           minikube start --driver=docker --cni=calico --extra-config=kubelet.network-plugin=cni

      - name: Set up kubectl
        run: |
          sudo apt-get install -y kubectl
          kubectl config use-context minikube

      - name: Install dependencies
        run: |
          # Your Python dependencies installation

      - name: Run Tests
        run: |
          # Your test execution

      - name: Build Docker Image
        run: |
          docker build -t ankeetchauhan505/hello-world-app:latest .

      - name: Push Docker Image (Optional)
        run: |
          docker push ankeetchauhan505/hello-world-app:latest

      - name: Deploy to Minikube
        run: |
          kubectl create deployment hello-world-app --image=your-docker-username/hello-world-app:latest --port=8080
          kubectl port-forward deployment/hello-world-app 8080:8080
